[2014-06-20 08:42] bcnx opened #4 "While changing the cluster config getting eroor message: ERROR: 2: syntax in rsc_defaults"
I installed Pacemaker en CMAN on CentOS 6.5. These are the installed packages:

pacemaker-cluster-libs-1.1.10-14.el6_5.3.x86_64
pacemaker-cli-1.1.10-14.el6_5.3.x86_64
pacemaker-1.1.10-14.el6_5.3.x86_64
pacemaker-cts-1.1.10-14.el6_5.3.x86_64
pacemaker-libs-devel-1.1.10-14.el6_5.3.x86_64
pacemaker-libs-1.1.10-14.el6_5.3.x86_64
cman-3.0.12.1-59.el6_5.2.x86_64

I installed the latest Hawk version from

[2014-06-23 08:53] #4 closed, assigned to nobody

[2015-02-27 09:50] sammcj opened #26 "Screenshots / Demo"
Hi, Any chance of some screenshots or a demo since it's a web product?

[2015-02-27 09:51] sammcj opened #27 "Debian Support"
To your knowledge has anyone had hawk working on Debian - What could you see preventing this?

[2015-02-27 10:15] tboerger commented on #27
If the dependencies can get resolved it should be no problem to run it on debian. I don't know if there are packages for pacemaker, crmsh and corosync available.

[2015-02-27 10:16] tboerger commented on #26
Currently I'm working hard on a full rewrite of the UI. Afterwards I can create some screenshots and maybe a small screencast.

[2015-02-28 23:24] krig commented on #27
madkiss has some relatively up-to-date packages for pacemaker 1.1.12 and crmsh 2.1.2, so there is no limitation there. I suspect there may be some incompatibilities with the hawk helper tools, but I don't know any portability bugs off-hand. So it may work as-is.

[2015-02-28 23:26] krig commented on #27
Actually no, I can't find his updated packages so maybe he never finished them..

[2015-02-28 23:27] krig commented on #27
Here they are: https://launchpad.net/~syseleven-platform/+archive/ubuntu/linux-ha

[2015-02-28 23:56] sammcj commented on #27
Hmm. They're ubuntu packages, not Debian packages - ubuntu is quite different - it uses its own ubuntu-only init system etc...

[2015-02-28 23:58] krig commented on #27
I think they might not use upstart, but I don't know for sure.

[2015-03-01 10:04] tboerger commented on #27
Maybe somebody wants to fork the OBS packages to add the debian control files? Then it is quite easy to add debian support to hawk. An init file is already available in Hawk, we just need to add debian to the Makefile :)

[2015-06-30 20:33] tboerger commented on #27
Why did you close the issue? :)

[2015-06-30 22:50] sammcj commented on #27
Oh whoops I closed the wrong ticket! *facepalm*

[2015-06-30 22:54] sammcj commented on #27
FYI - after months of working with Debian and HA I can honestly say it's not worth the trouble. Debian's pacemaker, corosync and other clustering pacakges are *very* old and contain a great deal of bugs that require various hacks / workarounds.

As much as we like Debian (we have 350 odd Debian servers) - it really isn't usable for clustering other than for the absolute basics. I've switched the c

[2015-07-01 05:54] tboerger commented on #27
I would suggest SLES/openSUSE :)
Hawk is developed on openSUSE and SLES.

[2015-07-07 07:07] sammcj opened #39 "Dockerised Hawk?"
It would be great if Hawk had an official Dockerfile, this would mean anyone who wanted to use it could deploy it anywhere they could run Docker and it could contain just the bare minimum set of packages required to run the application.

Thoughts / comments / abuse all welcome :)

[2015-07-07 07:40] tboerger commented on #39
I can try that. In general I would suggest openSUSE containers as an SUSE engineer, but the containers are damn large. So maybe AlpineLinux should be an option, the base images are really tiny, and the pacemaker version is quite new as you can see here: http://pkgs.alpinelinux.org/packages?package=%25pacemaker%25&repo=all&arch=x86_64

[2015-07-07 07:46] krig commented on #39
Sounds great! I actually started looking at it a while ago, but to be maximally useful you'd like it to interact with a pacemaker cluster outside of the container. I don't think that's possible, though.

[2015-07-07 07:47] tboerger commented on #39
@krig you can interact with anything outside of the container.

[2015-07-07 07:49] krig commented on #39
@tboerger Oh! Well, in that case, I'm all for it :)

[2015-07-07 07:57] tboerger commented on #39
And in worst case you can bind the container to the host network to use the multicast and UDP actions/connections used by corosync.

[2015-07-08 03:39] sammcj commented on #39
This would be really neat, I'm so glad you're considering it.

I've just spent all day trying to build hawk for CentOS 7 with no success at all so this would be very helpful!

[2015-07-08 04:54] sammcj commented on #39
Unfortunately I don't have *any* experience with SUSE so I just downloaded the latest 'tumbleweed' DVD ISO and selected to install hawk but it was riddled with dependency failures, then when hawk tried to start puma was erroring out on some gems etc...

If I had more time I'd write a Dockerfile for this but I don't have the time to figure out SUSE at the moment, If someone was able to write line b

[2015-07-08 05:13] krig commented on #39
Yeah, unfortunately Rails 4.2 is broken in Tumbleweed at the moment (working on fixing it) :/ We have a Vagrantfile which sets up openSUSE 13.2 with hawk and a sample configuration in the repository. The chef cookbook which configures hawk might be helpful: https://github.com/ClusterLabs/hawk/tree/master/chef/cookbooks/hawk

It doesn't configure nginx though, it just runs hawk through puma directl

[2015-07-08 05:14] krig commented on #39
I should note that the Vagrant configuration is a little bit special since Vagrant really wants the user on the VM to be `vagrant`, but normally hawk expects to run as the `hacluster` user.

[2015-07-08 05:21] sammcj commented on #39
OK, I think I can do this if I can find time. WML

[2015-07-08 06:03] tboerger commented on #39
Feel free to contribute it :)

[2015-07-08 06:50] sammcj commented on #39
Will do if it actually works - I've actually already got it up and running in a docker container but it's the old version straight from 13.2 and I'm yet to sort mapping the external services etc...

https://github.com/sammcj/hawk/commit/89e6d55347a4700746c74927303b57a8ba5660f2

[2015-08-03 10:22] grueni opened #41 "Solaris/Illumos support"
Last year I made a version hawk 0.6.3 for our Solaris and OpenIndiana based clusters with corosync and pacemaker. The ywork without any problems.

I made now tests hawk 1.0.0.alpha1.
During login I get HTTP 500. I used the loglevel debug and file for logging.
I used in config/environments/production.rb this:
[code]

This is the content of the logfile:
[code]

Is this really the output which should

[2015-08-04 09:46] krig commented on #41
First of all, hawk 1.0.0 alpha 1 is not yet functional. We've rewritten it pretty much from scratch to get from Rails 3 to Rails 4 and a modernized frontend, and we've broken a lot of it in the process. Working on fixing everything back up, but right now I'd recommend sticking with 0.7.

As for the error, that does look like an incompatibility with ruby 1.9.3.. we're right now only using ruby 2.1

[2015-08-04 10:39] grueni commented on #41
Thanks a lot.
So I will stop my engagement now and watch the project.

[2015-08-04 10:39] #41 closed

[2015-10-08 08:34] krig opened #57 "Resource operations pop up menu is hidden by the table edge"
The action pop-out menu lives inside the iframe of the bootstrap table, so if you open the menu for the last item in the list, it gets covered in an ugly way and you have to scroll down to see it. Is there any way to have that menu be outside of the bootstrap table frame?

We need some clever javascript/CSS trick to move the popup out of the table frame..

[2015-10-08 08:53] fibidifips opened #58 "No Nodes listed on Status Page"
- browser debug shows a syntax error for nodes.json:1
- Graph isn't working too

[2015-10-08 09:04] krig commented on #58
Which version are you running?

[2015-10-08 09:17] fibidifips commented on #58
download master yesterday

SLES11.3
Pacemaker1.1.13-42a56cb

[2015-10-08 09:21] krig commented on #58
Which browser and browser version are you testing with? It sounds like something is going very wrong somewhere, but I'm not sure what or where.

[2015-10-08 09:25] fibidifips commented on #58
Firefox 33, same issue with other browsers (chrome, IE).
had this issue since move to puma. with lighttpd it worked as expected.

[2015-10-08 09:28] krig commented on #58
Aah yes, that sounds like it could be where things are breaking. The question then is why puma is misbehaving for you...

Could you check your logs for anything related to puma? `/var/log/messages`, any other logs you might find under `/var/log`, any logs from `/srv/www/hawk/log/`? Thanks!

[2015-10-08 09:38] fibidifips commented on #58
hi,

no messages in default linux logs.
when starting with "test" environment, this is the only error i see:

Rack app error: #<NoMethodError: undefined method `uname' for #<Node:0x007fa58563f970>
---
"development" for debugging isn't working at all, here no login on webui is possible:

HTTP parse error, malformed request (): #<Puma::HttpParserError: Invalid HTTP format, parsing fails.>

[2015-10-08 09:46] fibidifips commented on #58
more extended log info, after pressing refresh button on nodes section:

Completed 200 OK in 60019ms
Started GET "/cib/live/nodes.json?sort=name&order=asc&limit=50&offset=0" for 10.1.0.212 at 2015-10-08 11:45:23 +0200
Processing by NodesController#index as JSON
  Parameters: {"sort"=>"name", "order"=>"asc", "limit"=>"50", "offset"=>"0", "cib_id"=>"live", "node"=>{}}
Cib.initialize live, hacluster,

[2015-10-08 09:49] krig commented on #58
Ah, excellent, the Node uname issue probably is a bug I can fix, if the node element doesn't have `uname` set (which seems to be the case for you).

The puma HTTP parse error on the other hand, is difficult to solve without being able to reproduce myself. But I will keep this issue open.

[2015-10-08 09:56] krig commented on #58
Please test again with the above fix.

[2015-10-08 10:53] fibidifips commented on #58
another message:

2015-10-08 12:51:55 +0200: Rack app error: #\<TypeError: no implicit conversion of Symbol into Integer\>
/srv/www/hawk/app/models/node.rb:120:in `[]='
/srv/www/hawk/app/models/node.rb:120:in `block (2 levels) in instantiate'
/srv/www/hawk/app/models/node.rb:116:in `each'
/srv/www/hawk/app/models/node.rb:116:in `block in instantiate'
/srv/www/hawk/app/models/node.rb:110:in `each'

[2015-10-08 11:19] fibidifips commented on #58
hi,

looks like this is due to resource utilization stanza "if record.utilization.any?" in node.rb.
i comment record.utilization.any, afterwards nodes show up as expected.

i have placement-strategy activated in my cluster

[2015-10-08 11:22] krig commented on #58
thanks!

[2015-10-08 12:02] krig commented on #58
This should be fixed now.

[2015-10-08 12:11] fibidifips commented on #58
hi,

yes, nodes show up correctly now. thank you!

- but: pressing "details" button didn't show anything. in previous version this shows up remaing cpu/mem for host. may this will be another issue?

[2015-10-08 12:13] krig commented on #58
Yeah, that sounds like another issue :/
I will look into it.

[2015-10-08 12:19] fibidifips commented on #58
found this:

2015-10-08 14:18:40 +0200: Rack app error: #\<ActionView::Template::Error: nil can't be coerced into Fixnum\>
/srv/www/hawk/app/views/nodes/show.html.haml:27:in `-'
/srv/www/hawk/app/views/nodes/show.html.haml:27:in `block in _app_views_nodes_show_html_haml___1691882055337816720_65464880'
/srv/www/hawk/app/views/nodes/show.html.haml:19:in `each'
/srv/www/hawk/app/views/nodes/show.html

[2015-10-08 12:29] krig commented on #58
Alright! Now, at least _this_ issue should be fixed. Thanks for your patience.. the utilization code was a lot more broken than I expected.

[2015-10-08 12:41] fibidifips commented on #58
sorry to say, still not working - same error as stated above - ActionView::Template::Error: nil can't be coerced into Fixnum for 1 node.

for the other 3 of the 4 nodes nothing appears(apart of the "overlay"). for that i didn't see any message in logs....

[2015-10-08 12:49] krig commented on #58
Hrm, ok. I added a null check in the only place I could find that might have that issue, and it seems to work for me here now.

[2015-10-08 13:01] fibidifips commented on #58
ok, funny state now:
1 node is working correct now (the one where hawk is running)
1 node shows the infobox, but no utilization details.
2 nodes still only show overlay

what could be the reason for that? how does hawk collect data from the other nodes? should be crm_simulate -LU only?

[2015-10-08 13:02] krig commented on #58
Yeah, it runs `crm_simulate -LU`. It's probably still some corner case that I'm not hitting here. Can you send me the output from running crm_simulate -LU manually?

[2015-10-08 13:09] fibidifips commented on #58
# /usr/sbin/crm_simulate -LU

Current cluster status:
Online: [ lnx0083a lnx0083b lnx0129a lnx0129b ]

 Clone Set: gpfsdmon-clone [gpfsdmon]
     Started: [ lnx0083a lnx0083b lnx0129a lnx0129b ]
 fence_lnx0083a	(stonith:fence_cisco_ucs):	Started lnx0083b
 fence_lnx0083b	(stonith:fence_cisco_ucs):	Started lnx0083a
 cl-info	(ocf::pacemaker:ClusterMon):	Started lnx0129b
 fence_lnx0129a	(stonith:fence

[2015-10-08 13:11] krig commented on #58
And what does going to `/cib/live/nodes.json` return?

Maybe you can make a gist instead of pasting directly in the issue: https://gist.github.com/

Thanks!

[2015-10-08 13:17] fibidifips commented on #58
https://gist.github.com/fibidifips/d2a02d46793afa9a380e

[2015-10-08 13:20] krig commented on #58
Well, that all looks completely fine. Hmm.

[2015-10-08 13:22] fibidifips commented on #58
difference is: percentage value where it is ok, no percentage value where it didn't work

[2015-10-08 14:45] fibidifips commented on #58
as far as i understand the remaining value is wrong, on some of the nodes.
please look at the last 4 lines of crm_simulate output: https://gist.github.com/fibidifips/e8a48ffdc9192601afd8

looks like remaining is equal to total. so 3 of the nodes have percentage 0. should be greater than 0.

[2015-10-08 15:28] krig commented on #58
Found it, fix pushed. Thanks again :)

[2015-10-08 16:05] fibidifips commented on #58
yes, works fine now! thank you!

[2015-10-08 16:05] #58 closed

[2015-10-12 11:28] krig commented on #57
This seems to be related: https://github.com/twbs/bootstrap/issues/11037

[2015-10-12 12:00] #57 closed

[2015-10-12 12:36] Unksi commented on #27
There are actually some relatively new corosync/crmsh/pacemaker packages for Debian 8+ at [MMOD](http://ppa.mmogp.com/apt/debian/)

[2016-03-01 06:04] pndiku opened #62 "HAWK in a subdirectory"
I've tried all sorts of combinations of config.relative_url_root and ENV["ROOT_URL"] but hawk refuses to run in a subdirectory.

Is this a puma issue or a hawk issue?

[2016-03-01 06:15] krig commented on #62
Hmm, what do you mean with run in a subdirectory? You mean have hawk rooted at domain:port/something/hawk ?

That's something we haven't really considered, so I don't really know what might be the problem in making that work.

I'm guessing you have another web server with a virtual root which points to the puma instance?

[2016-03-01 06:21] pndiku commented on #62
I need hawk accessible through a reverse proxy.

Another way it would work is if hawk's internal URLs were not absolute, e.g. "assets", instead of "/assets".

[2016-03-01 07:39] krig commented on #62
I think we're pretty good at using the rails facilities for building URLs, so if there is a way to get rails to generate relative URLs rather than absolute ones, that should hopefully do the trick.

[2016-03-01 07:41] krig commented on #62
According to the documentation, `config.relative_url_root` should be all you need to modify. What was the problem that you had after changing it? Any kinds of logs or error messages you can attach here might help in figuring it out.

[2016-03-01 07:42] tboerger commented on #62
Just removing the slash won't work, you need to set a base href. We are using the rails route helper everywhere, so it should be doable if rails gets configured properly

[2016-03-01 07:48] tboerger commented on #62
Just for reverence http://edgeguides.rubyonrails.org/configuring.html#deploy-to-a-subdirectory-relative-url-root

[2016-03-01 08:18] pndiku commented on #62
Like I wrote in the initial post, I tried `config.relative_url_root`. I don't get any errors, but there's no change. It's still only accessible at `https://[IP]:7630` instead of `https://[IP]:7630/hawk/`

[2016-03-01 11:35] fibidifips commented on #62
currently i'm stuck at the same problem - i also need remote proxy functionality

[2016-03-01 12:29] krig commented on #62
It should be possible to configure Puma to listen to a UNIX socket, and have the proxy server talk to that socket instead. Maybe something like that would work better.
You would need to modify the Puma configuration file, I suspect. I'll try to look at configuring this myself as soon as I have time.

[2016-03-18 11:21] tserong commented on #27
Just for the record, there's a Request for Package for Hawk on Debian at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=634344 (not that it's really seen much action...)

[2016-06-02 23:00] krig commented on #39
An update here: I created a container of the current development version:

https://hub.docker.com/r/krig/hawk/

It gets pacemaker and Hawk up and running, but I wouldn't try to use it in production.

[2016-09-25 18:18] phemmer opened #72 "Redhat package"
The documentation says you can just run `make rpm` to build a package for Fedora based systems. This does not appear to be the case, as it does not work on EL7 (specifically CentOS/7).

I was able to build an RPM spec file by hand and get this up and running. But I had to do a lot of really crude things in the spec file to get it working.

Additionally I've implemented a few patches to the source

[2016-09-26 08:37] ayoub-belarbi commented on #72
Thanks @phemmer for your input! The fact that the documentation mentions that `make rpm` is enough to build the package for Fedora based systems is due to the fact that it hasn't been updated since a while. The project is very promising and we intend to build new features that will dramatically improve Hawk but we lack of contributions for the moment especially for maintaining the application on F

[2016-10-19 16:33] ZleFox commented on #27
There are now updated pacemaker packages with current versions in Debian jessie-backports, so support for Debian is not so meaningless. I personally am using pacemaker clusters on several Debian servers and will be glad if the support for this distro is not left behind as it was during the jessie freeze. Thank you :)

[2016-10-19 20:45] sammcj commented on #27
That sounds good!

So pacemaker, corosync, stonith packages, crmsh and ocf providers have all been update to or past what centos/rhel/suse have?

Any word if they work fine with the (presumably) provided selinux policies?

Sent from my iPhone

[2016-10-20 09:34] ZleFox commented on #27
Currently these are the packaged versions:
pacemaker                     1.1.15-2~bpo8+1
corosync                      2.3.6-3~bpo8+1
crmsh                         2.2.0-1~bpo8+1
fence-agents                    4.0.22-2~bpo8+1
resource-agents                 1:3.9.7-1~bpo8+1
I managed to install the hawk with few tweaks and the default INIT policy and it seems to be working on a test single node -

[2017-08-07 07:47] tboerger commented on #39
Please unassign me :)

[2017-08-07 14:16] krig commented on #39
@tboerger no problem :)

[2017-08-22 00:01] johnkeates commented on #27
Would you accept a PR adding Debian packaging?

[2017-08-22 12:35] krig commented on #27
Yes, absolutely!

[2017-08-22 17:58] johnkeates commented on #27
I have successfully built and tested hawk on Debian Stretch, with almost no modifications (except adding Gem sources). All other dependencies are in the standard Debian repositories so it seems the biggest challenge is the install script to get everything into place and figuring out Debian's Ruby Gem packaging policies. I'm thinking about checking with pcsd's package since it's also ruby and a sta

[2017-08-23 07:10] krig commented on #27
That sounds really good, I'd really appreciate any patches that makes getting Hawk running on Debian an easier experience.

[2017-08-26 18:27] #62 closed

[2017-08-26 18:28] ayoub-belarbi commented on #26
In case you still need it :) [New features in Hawk 2 - SLEHA 12 SP3 Beta](https://www.youtube.com/watch?v=MyenIdX8k4U)

[2017-08-26 18:28] #26 closed

[2017-08-26 18:30] #72 closed

[2017-09-27 07:57] liangxin1300 opened #116 "Dev Question: How to make validate before controller save or create?"
Hi:
   Hawk is a tableless Rails App which not use ActiveRecorde,
   so we can not use ActiveRecorde callbacks such as "before_save" or "before_create",
   What should I do in Rails if I do want use such similar function?

   Regards,
   xin

[2017-09-28 09:46] krig commented on #116
The question is: what is it you are trying to do? These callbacks do not make sense without a database..

[2017-09-29 09:26] liangxin1300 opened #118 "Error messages not showed"
When leaving some ID's input empty, errors messages not showed.
For example,
when adding primitive resource, empty ID will cause "ID ID is required, ID Invalid ID" shown on the top;
when adding colocation with empty ID, record.erros.full_messages already has above error message,
but it can not be shown on top of the web page

Regards,
xin

[2017-10-10 06:29] #118 closed

[2017-10-11 06:04] #116 closed

[2017-10-15 04:04] liangxin1300 opened #126 "Suggestion: unified Yes/No or true/false for boolean config options"
For example, in "Cluster Configuration" page,
the value can be selected for "stonith-enabled" are "Yes/No",
but at right of the page, help messages said it's default value is "true";

It's a little bit strange although users can understand the difference.

Regards,
xin

[2017-10-24 17:42] krig commented on #126
These are artifacts introduced in the theming / frontend of hawk, yeah.. We should have a unified standard everywhere. With the new hawk client, we will make sure to clean up these kinds of things.

[2017-10-26 11:55] #126 closed

[2017-10-26 11:56] ayoub-belarbi commented on #27
Will close this issue now,
thanks

[2017-10-26 11:56] #27 closed

[2017-10-26 11:57] ayoub-belarbi commented on #39
Since no new updates regarding this thread, will close it now.
Thanks

[2017-10-26 11:57] #39 closed

[2017-11-09 08:23] liangxin1300 opened #134 "Do we need detect firstly in wizards whether application installed?"
For example,
I want to configure MySQL/MariaDB in wizards,
I input id and required params, leaving "install" option with “No”,
and then I click "Verify", no errors happen, and then "Apply", wizards told me "successfully",

But I got the failed status because I never installed the application.
The process can make me feel wasting time.

If we detect whether application installed firstly when user e

[2017-12-01 07:03] ayoub-belarbi commented on #134
I completely agree with you, but since there is an intention to change the wizards to be managed by Salt instead of the crmsh's cluster-scripts, we can adopt a simpler solution for now and show a permanent message in the top of the page (at least in the first step of each wizard) saying that you should install the application in question beforehand.

Thanks,

[2018-04-26 15:02] sm8ps commented on #27
HAWK looks extremely promising, especially for medium mediocre noobs like myself. I realize from other posts that manpower is short and unfortunately cannot offer much more than help with testing.
I am trying to reach out to @johnkeates for instructions on how to build and install on Debian/Ubuntu. Would you please share your experience here?
Greetings!

[2018-05-02 08:41] krig commented on #27
@sm8ps Hi! There is now a more active HA community around Debian, so for the newer releases the packages are more up to date. It should in theory be possible to run Hawk in a SLE container on Debian if handling the dependencies is too difficult... At least the rest of the stack including crmsh is packaged and mostly up-to-date now, so building from source should be a possibility.

[2018-05-05 21:34] odino2018 opened #151 "Edit configuration not working with resources with dotted name"
While trying to edit resource with names like IP_1.1.1.1
I am redirected to
https://..........:7630/404.html
"We can't find the page you're looking for"
While it works for any other resource with a name without a dot it never works for resources with one or more dots in their name.

[2018-05-07 08:40] ayoub-belarbi commented on #151
Hi @odino2018,
Thanks for reporting this, I will work on fixing this a soon as possible :)

[2018-05-13 08:02] sm8ps commented on #27
Thanks for your suggestion, @krig! I had really not thought about setting up a container for those purposes. This sounds like a very simple solution and I shall give it a try soon.

[2018-05-18 16:02] #151 closed

[2018-05-22 20:31] scream314 opened #156 "Empty response"
I tried to try out Hawk per https://github.com/krig/docker-hawk.
I started the container, did ` ha-cluster-init` in it, and configured the admin IP, but cannot open Hawk, all I get is an empty response. I tried `curl`ing the computer's LAN address, the management addess, the computer's `127.0.0.1` and also `127.0.0.1` in the container with the same result.
The admin IP is pingable, the resource is

[2018-05-22 20:44] scream314 commented on #156
Just found the problem, it does indeed listen only on 127.0.0.1, so I had to `ssh -N -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=5 -o StrictHostKeyChecking=no -g -L 7630:127.0.0.1:7630 user@my-pc-1`.

[2018-07-24 07:20] ayoub-belarbi commented on #134
Closing this issue!

[2018-07-24 07:20] #134 closed

[2019-08-07 13:16] dmuhamedagic opened #179 "remote connection environment variables not preserved"
cibadmin and some other utilities are run by hawk_invoke which clears the environment. Should it preserve CIB_host, CIB_user and others to be able to connect to a remote cluster node? The use case is to run hawk on a node which is not part of the cluster, for instance if the cluster runs on Debian where hawk is not readily available as a software package.
The remote connection is described here: [

[2019-08-08 15:15] dmuhamedagic commented on #179
There's a pr #180 to preserve more environment variables.

[2019-08-12 09:05] ayoub-belarbi commented on #179
Fixed by #180

[2019-08-12 09:06] #179 closed

[2019-09-25 11:35] dmuhamedagic opened #181 "characters in RA link encoded twice"
On the Status page there is a column with resource agent links. One such link is like this (got with "Copy Link Location" in Firefox):
https://localhost:7630/cib/live/agents/ocf%253Aheartbeat%253ADummy
Otherwise it looks normal on the page: `ocf:heartbeat:Dummy`
In Firefox, hovering over the link shows in the lower left corner:
https://localhost:7630/cib/live/agents/ocf%3Aheartbeat%3ADummy
Apparen

[2019-10-08 19:15] LGTM-badger opened #182 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2020-02-12 20:25] averyfreeman opened #184 "Fedora 31 support ?"
Thanks for the project, it looks really promising

However, upstream development in several spaces that would benefit from clustering is dominated by RedHat - most notably Ceph and KVM/Libvirt - which makes it kind of puzzling why you'd be so closely aligned with OpenSUSE (?)

Is there some modifications I could make to the Makefile that would ease building on a RedHat-styled OS?  I'm using Fedora

[2020-02-13 10:41] diegoakechi commented on #184
Hi @averyfreeman,

Originally, the so-called `Linux HA` and today called `Clusterlabs` project was created by SUSE being `Hawk`, `crmsh` and even `pacemaker`, components that formed the solution stack. At a certain point in time, Red Hat has decided to follow a different direction and has created `PCS`, that is the equivalent of `crmsh` and `Hawk` on their distribution.

Hawk is not promising, but

[2020-02-13 19:21] averyfreeman commented on #184
Hello,

Thank you for clarifying the distinction. Because of the divergent paths, will hawk ever be a viable option on a pcs environment, or is it's dependency on crmsh a deal breaker?

I would like to help make hawk multi-platform but am not really sure where to start. In my Fedora build environment I was getting lots of errors from Ruby re: rake, even though rake is installed (error: ruby2.5/rak

[2020-02-14 20:27] diegoakechi commented on #184
Hi,

Hawk is dependent of crmsh, so it would need to be available on Fedora too. AFAIR some colleagues have been maintaining crmsh for CentOS since a long time, so shouldn't be a big deal to build it for Fedora.

About the error you see, it is must probably because you are using the RPM package built for SUSE and it depends on Ruby2.5, but Hawk is a standard Ruby on Rails application, so I think t

[2020-02-16 09:03] averyfreeman commented on #184
OK great I will see what I can do. I'm guessing that's the .spec file but if that's not it I'll dig around until I find a reference to ruby 2.5.  Thank you :)

[2020-02-16 09:03] #184 closed

[2020-03-13 15:12] nonicknamewasleftforme commented on #62
Is there a solution to this issue or has the issue just been closed because of inactivity?

I'm trying to setup a reverse proxy with apache mod_proxy for accessing hawk through restrictive firewalls.

[2020-03-13 15:20] krig commented on #62
This is still not possible as far as I know, Hawk needs a dedicated port and cannot serve from a subdirectory (so `<ip>:<port>` is possible, but `<ip>:<port>/hawk` is not).

[2020-03-25 17:22] MalloZup opened #187 "uglifier gem should not be in development group"
While debugging other issue, I found out that the   gem "uglifier", ">= 3" shoudl be not in develpment group on `gemfile` since it is used in production as dependency.

https://github.com/ClusterLabs/hawk/blob/dcd4bc926bf7b5650e606bf7b9bf01e6152a68ed/hawk/config/environments/production.rb#L35

[2020-03-25 17:27] MalloZup opened #188 "Packaging: questionable approach when build rpms with gemfile"
I found out that our current rpms use several patches. ( I have tried to remove them).

There is still one which currently disturbs me. (and create also issues on maintainance)

It is the no-dev env. . I think this patch was made to solve the mechanism of obs which try to build all Gems no matter if they are in development or other groups.

We should try to remove this patch, since it causing issu

[2020-03-25 17:40] MalloZup commented on #182
@diegoakechi  closing. I think this is not relavant

[2020-03-25 17:40] #182 closed

[2020-03-26 09:46] MalloZup commented on #187
done

[2020-03-26 09:46] #187 closed

[2020-03-26 15:43] #188 closed

[2020-03-26 15:43] MalloZup commented on #188
done in last commits

[2020-03-30 14:45] gadh opened #193 "is HAWK still maintained ?"
i dont see any releases after 2017...., also in HAWK server.

[2020-03-30 16:05] MalloZup commented on #193
@gadh  yes it is, check out last commits or prs
the github releases aren't always used in all projects or releases.

If you have other question feel free to ask. THX

:sunflower:

[2020-03-31 10:23] MalloZup commented on #193
closing thx!

[2020-03-31 10:23] #193 closed

[2020-05-20 10:43] yandroskaos opened #194 "Hawk not updating resource list"
When issuing a command line command for resource creation like:

[code]

and being successfully created as can be checked with:

[code]

Hawk does not show it in the MONITORING > Status > Resources tab.

[2020-05-20 11:00] MalloZup opened #195 "Improve issue template"
we should improve the issue template for stating which OS is running hawk, since it make a difference.

Also give a section on `how to reproduce` etc. the classic issue template

[2020-05-20 11:10] #194 closed

[2020-05-20 11:11] yandroskaos commented on #194
Cluster was split and hawk reported obviously different things for different nodes.

[2020-06-24 13:55] MalloZup opened #199 "Remove vagrant deployment in favor of https://github.com/yandroskaos/pacemaker-deploy"
the new deployment project should be used to deploy hawk.
This depracted all the vagrant code and salt state we have in this github repo.

# Tasks:

- reference the deployment project https://github.com/yandroskaos/pacemaker-deploy ( later to SUSE org) here
- remove vagrant code and salt code here and all the documentation

[2020-07-03 09:47] MalloZup opened #204 "automatize CD of docker image with kiwi and obs"
discussed with @rbranco

[2020-07-09 02:25] Johngoutbeck opened #206 "extended operation menu - off screen for all browsers"
When clicking on the down arrow fro a Resource in the Operations column, if the main resource list is large enough to fill the screen, part of the extended operation menu will will be off screen (below the screen).  So, please have tghe extended operation menu open so we can see all the menu items.

![image](https://user-images.githubusercontent.com/24571377/86990138-28dc5580-c159-11ea-9b90-ef20ed

[2020-07-11 08:34] Jaycean opened #207 "centos7.6 Unable to display login page"
## Steps to reproduce
1.  I have carried out the installation steps correctly
2.  I run the following command to start the server and it doesn't seem to be a problem
[code]

3. But when I visit the web : https://<ip>:7630,Nothing
![image](https://user-images.githubusercontent.com/36916582/87220074-8bb93100-c393-11ea-9a92-22fc9248b74f.png)

4. I made an error while testing the hawkapi-server projec

[2020-07-15 11:54] #199 closed

[2020-07-15 11:54] #195 closed

[2020-07-15 13:02] MalloZup commented on #207
@Jaycean hi thx for issue. the swagger.json isn't needed.

How do you install hawk? Via rpm or from source?

[2020-07-15 13:08] MalloZup commented on #207
if you are running hawk with the `hawkapi-server` the best way is to use `systemd` services

[2020-07-16 07:24] Jaycean commented on #207
@MalloZup Thx you again for your patience. Obviously, I am a novice

I use source to install hawk,But it didn't work, so I tried to start it with docker

I'm sorry to mention the issue of the [docker](https://github.com/krig/docker-hawk) project here, but there seems to be no one to maintain that project
`Error invoking /usr/sbin/cibadmin -Ql: Signon to CIB failed: Transport endpoint is not connec

[2020-07-16 07:28] MalloZup commented on #207
@Jaycean nice thx! Your feedback is always welcome!

No worry for novices we are all, only in different things :grin:

Good question. So the dockerfile, where did you get it?

https://github.com/krig/docker-hawk ?

[2020-07-16 07:32] Jaycean commented on #207
@MalloZup
Yes, I got dockerfile from there

[2020-07-16 07:42] Jaycean commented on #207
@MalloZup
I took a look at the hawk log installed in source

[code]
[code]
Now, there are problems with both installation methods. Moreover, I also require CentOS, which may be more convenient to use openSUSE

[2020-07-16 07:57] MalloZup commented on #207
@Jaycean  yes no problem with CentOS.

Regarding the docker Image, that repo is not maintained.

regarding  your logs, can you show `systemctl status hawk` and `systemctl status hawk-apiserver`?  and can you post the full logs with the `journalctl`cmd? TIA

There is no useful message there

[2020-07-16 08:04] Jaycean commented on #207
@MalloZup Does it look like the service isn't started?
[code]
API server I started with`. / hawk apiserver - config`

[2020-07-16 08:12] MalloZup commented on #207
@Jaycean  yes it looks like this.  But we need more log from `journalctl`.

do `journalctl -r` and check why the service failed. There should be an error

[2020-07-16 08:14] MalloZup commented on #206
thx @Johngoutbeck  make sense

[2020-07-16 08:19] MalloZup commented on #207
@Jaycean  I might try to setup a centos environment later on and maybe improving the doc. However if you can debug it more would be super helpfull

[2020-07-16 08:35] Jaycean commented on #207
@MalloZup No problem. I'll try it myself, and later I'll try it with CentOS 8

[2020-07-16 08:40] MalloZup commented on #207
@Jaycean  with 7.6, just post the **full** logs from command `journalctl -u hawk` I can't find any error

[2020-07-16 09:09] Jaycean commented on #207
@MalloZup I took a look at the log, and it was basically full of this error message

Scroll through the log and try to send the request:`journalctl -u hawk -f`
[code]
I am also very confused, there is no reference error information

[2020-07-16 09:36] MalloZup opened #208 "Feature/Research: enable different users"
have some group access level settings. So clients could manage via groups in ADS different level of (admin) access to functions

[2020-07-16 09:38] MalloZup opened #209 "Feature/Research: enable management of multi-cluster"
Feature/Research: enable management of multi-cluster with hawk

[2020-08-01 15:19] MalloZup opened #215 "remove virtus rubygem"
following rubygem is depracted.
https://github.com/ClusterLabs/hawk/blob/master/hawk/Gemfile#L22

the rubygem is no longer used  so we need to remove it

[2020-08-01 15:43] MalloZup opened #216 "SASS-RAILS rubygem reached endof life"
we need to find alternative of this:
https://github.com/rails/sass-rails/issues/420

[2020-08-01 15:43] #209 closed

[2020-08-01 15:44] #208 closed

[2020-08-01 15:44] MalloZup commented on #216
https://sass-lang.com/ruby-sass

[2020-08-01 15:54] MalloZup commented on #207
@Jaycean ok I see. I will  use a centos VM. Can you describe me how did you install hawk?

[2020-08-03 08:35] Jaycean commented on #207
- I use the command to install pcs pacemaker corosync:`yum install pcs pacemaker corosync fence-agents-all resource-agents-all`
- hawk-apiserver: `go build`
- hawk : Ruby gem installation related dependencies `bundle install` and `make`

[2020-08-25 12:56] MalloZup opened #219 "HAWK versions does not provide link to fencing"
Some versions of hawk doesn't provide link to fencing. (e.g 12sp3)

We need first to understand why this lack of consistent behavior

[2020-08-25 13:06] ricardobranco777 commented on #219
@clanig discovered it.

[2020-08-25 13:34] clanig commented on #219
It's correct that there are some differences in old versions as respected with #218 . These differences appear fit to the corresponding development state of HAWK at the time the code base was chosen and packages were released originally - I have checked that as far as I remember. Due to this reason it could be seen more like a feature update than a bug fix to change the behavior, even though I thi

[2020-08-25 15:20] MalloZup commented on #219
:thinking:  I will let open this issue since `fencing` should be a HA cluster feature which should not depend on the webui version.

Anyone has a screenshot where this link should be? tia

[2021-01-05 23:59] matthiashinrichs opened #225 "HAWK not starting on fresh install of openSUSE LEAP 15.2"
Hello

if you install hawk2 on openSUSE LEAP 15.2,
hawk-backend.service will not start because of the following error:
`2020-07-06T21:52:07.710011-06:00 nss-leap152 puma.ruby2.5[10033]: [10033] ! Unable to load application: Gem::ConflictError: Unable to activate sass-rails-5.1.0, because railties-5.1.4 conflicts with railties (>= 5.2.0)
2020-07-06T21:52:07.710267-06:00 nss-leap152 puma.ruby2.5[100

[2021-02-08 11:37] MalloZup opened #229 "Investigate if it is possible to use ruby system instead of home-made "safe_x""
I don't know the rationale of "safe_x" but we should investigate to remove it and use the STD of ruby which is `system`

[2021-02-11 14:53] MalloZup opened #236 "evaluate to remove js-routes gem in order to simplify dependencies"
right now we use https://rubygems.org/gems/js-routes but this dependencies is not really a "must" have.

Instead we could remove it and spare another rubygem to maintain

[2021-02-16 18:18] #229 closed

[2021-02-23 08:00] stdevel commented on #225
Thanks for sharing - I'm having the same issue. The workaround is not working for me so I'm stuck with 15.1.

[2021-02-23 08:59] MalloZup commented on #225
thx guys for reporting issue. I will try to see if I can manage to solve this packaging issue or dependency. I"m currently working on other things right now but I will add it on my stack.

Stay tuned :heart_eyes_cat:

[2021-02-23 09:38] stdevel commented on #225
Thanks for taking care of it!

Here are some additional insight in case you need it: https://bugzilla.opensuse.org/show_bug.cgi?id=1173919

[2021-02-23 14:31] MalloZup commented on #225
https://en.opensuse.org/openSUSE:Packaging_for_Leap

[2021-02-23 14:32] MalloZup commented on #225
yes thx @stdevel  , I have seen the bug. There is in my understanding something missing between sles and leap pkging since I didn't face the problem on sles codebase. Is something  I will look at once time

[2021-02-24 09:02] stdevel commented on #225
Hello @MalloZup,
thanks for pointing out - but it seems like also SLE 15.2 is affected. Just spun-up some SLE 15.2 machines and it has exactly the same error:

[code]

[2021-02-24 10:39] MalloZup commented on #225
@stdevel  thx for your time. In case you remark sles is affected, can you please open a bug on bugzilla with  the exact way you reproduce it?

I mean with the repositories/subscription etc you have on your system enabled/installed. I think that is relevant here, since one could have more ways to get this pkg.

But I would open a seperate bug on bugzilla of suse for SLEs, so we don't mix the both i

[2021-03-03 11:03] MalloZup opened #245 "E2E Tests improvments"
This epic wants to track from highlevel pov what we might tackle as steps to improve E2E test experience.

## Coverage:

Goal of this is to improve the testing coverage of hawk. Normally it has more priority over improvements of the testing framework/refactorings etc.

- 01) check if hawk is consuming more then 90%cpu during the testsuite ( this was a bug in the past)

### Testing framework/Tests

[2021-03-12 00:16] matthiashinrichs commented on #225
Hello

I see you have both version of ruby2.5-rubygem-railties installed.
Just remove the newer one:
zypper rm ruby2.5-rubygem-railties-5.2-5.2.3-bp152.3.13.x86_64

And after that lock this package:
zypper al ruby2.5-rubygem-railties-5.2-5.2.3-bp152.3.13.x86_64

When you remove the newer version it will also remove dependencies.
On opensuse just reinstall hawk again.
On Sles reinstall sles_ha.

Fo

[2021-03-30 14:06] kriaos opened #247 "500 Internal Server Error:cib/live/agents/ocf%253Aheartbeat%253Aapache"
Hawk Version : 2.6.15
OS：ubuntu

**Appearance:**
when "Create Primitive " in Web GUI ，obtain error message in web page : ****Failed to fetch meta attributes****

** Trace to :**
Request :  GET | https://192.168.197.129:7630/cib/live/agents/ocf%253Aheartbeat%253Aapache?format=json
Response: 500  Internal Server Error

**OS Messages about hawk service :**

3月 30 19:37:27 ubuntu puma[777]: 2021-03-30

[2021-03-30 14:24] kriaos opened #248 "Hawk：Rack app error handling request { GET /roboto-v15-latin-regular.woff }"
Hawk Version : 2.6.15
OS：ubuntu

**OS error Messages periodicity about hawk service  by "journalctl -xf" :**

3月 30 22:13:03 ubuntu puma[777]: 2021-03-30 22:13:03 +0800: Rack app error handling request { GET /roboto-v15-latin-regular.woff }
3月 30 22:13:03 ubuntu puma[777]: #<Errno::EACCES: Permission denied @ utime_internal - /usr/share/hawk/tmp/cache/assets/sprockets/v3.0/oR/oRRLppPQiVBIkytrZdGao

[2021-03-30 15:10] kriaos commented on #248
chmod -R 777 /usr/share/hawk

[2021-03-30 15:10] #248 closed

[2021-07-13 06:40] suntorytimed commented on #225
@stdevel on the issue in SLE: does the SLE 15 SP2 system have PackageHub enabled? ruby2.5-rubygem-railties-5.2 is only provided via PackageHub and not in the base SLE distribution. Same applies for 15 SP3.

[2021-07-13 08:31] stdevel commented on #225
Thanks for pointing out, @suntorytimed - I just reproduced the issue with the latest available SLE 15 SP2 Vagrantbox (`SLES15-SP2-Vagrant.x86_64-15.2-virtualbox-QU3.vagrant.virtualbox.box`). Package Hub is not enabled but the service is not starting:

[code]

I attached the output of the `zypper lr` and `rpm -qa` outputs to this ticket. Hope this helps.

[log_worker01_sle15sp2.txt](https://github.

[2021-12-01 12:15] bjin01 commented on #225
I had same problem. hawk-backend.service fails to start.

Solution:
Deactivate Packagehub repos.
Uninstall the conflict package from packagehub:
```rpm -e --nodeps ruby2.5-rubygem-sass-rails-5.1```
Install the package from SLES HA:
``` zypper in -y ruby2.5-rubygem-sass-rails```
Restart hawk-backend.service
```systemctl restart hawk-backend.service```

[2022-06-27 06:42] wengjibo opened #259 "In the fedora 36 x86_64 cann't succesful login"
OS:  Fedora 36 x86_64
ruby: ruby 2.7.6
hawk: hawk-2.6.15
After I successfully installed hawk 2.6.15 in the fedora 36 x86_64,I use ruby's version is 2.7.6, I can run hawk successfully. But when I login with the correct username and password. WEB interface report: Invalid username or password.
The system log is as follows:
2022-06-27T14:31:21.925773+08:00 tot5 audit[32863]: USER_AUTH pid=32863 uid=6

[2022-06-27 07:27] wengjibo commented on #259
I found the reason why I can't log in normally, which is caused by the pam configuration of the fedora operating system.
First, backup the pam configuration file of fedora 36
# cd /etc/
# mv pam.d pam.d_backup
Second, copy the openSuSE 15.4 pam configuration file to the /etc/ directory of fedora. You can copy the entire directory /etc/pam.d/ to fedora directly through the scp command.

[2022-06-27 07:28] #259 closed

[2022-06-27 16:14] wengjibo commented on #247
This is because of a problem with your ruby version. I have already successfully run hawk-2.6.15 on ubuntu 22.04 amd64.
My OS version information and ruby version information are as follows:
root@tot-test:~# cat /etc/os-release
PRETTY_NAME="Ubuntu 22.04 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04 (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubun